.badge {
  background-color: tomato;
  width: 30px;
  height: 30px;
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-weight: 600;
}
.badge2 {
  background-color: tomato;
  width: 7px;
  height: 7px;
  border-radius: 3.5px;
  align-items: center;
  position: absolute;
  left: 80px;
  bottom: 20px;
}

.badge3 {
  background-color: tomato;
  width: 7px;
  height: 7px;
  border-radius: 3.5px;
  align-items: center;
  position: absolute;
  left: 140px;
  bottom: 20px;
}
